.place__image {
  width: 100vw;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .place__image {
    width: 340px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .place__image {
    width: 440px;
    padding-bottom: 0;
  }
}
