.place__website_link {
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
}

.place__website_link:hover {
  cursor: url(./sprint-3-images/sprint-3-images/Pointer.png), pointer;
}
