.places__website:nth-of-type(1) {
  display: none;
}
@media screen and (min-width: 768px) {
  .places__website {
    align-self: end;
    justify-self: stretch;
  }
  .places__website:nth-of-type(1) {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .places__website {
    align-self: end;
    justify-self: stretch;
  }
}
