.intro__text {
  color: #ffffff;
  margin: 0 auto 0 auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  padding: 0 0 34px 0px;
}

@media screen and (min-width: 768px) {
  .intro__text {
    padding: 0 0 33px 0px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__text {
    padding-left: 0;
  }
}
