.intro__list {
  margin: 0;
  padding: 0 0 64px 0px;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .intro__list {
    padding: 0 0 88px 0px;
  }
}
@media screen and (min-width: 1024px) {
  .intro__list {
    padding-left: 0;
    padding-bottom: 92px;
  }
}
